$background-light: whitesmoke;
$high-contrast-light: hsl(216, 28%, 7%);
$low-contrast-light: hsl(216, 5%, 74%);

$background-dark: hsl(216, 28%, 7%);
$high-contrast-dark: whitesmoke;
$low-contrast-dark: hsl(216, 3%, 30%);
$medium-contrast-dark: hsl(216, 3%, 50%);
