@use 'colors';

html,
body,
h1 {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

:root {
  --background: #{colors.$background-dark};
  --high-contrast: #{colors.$high-contrast-dark};
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #{colors.$background-light};
    --high-contrast: #{colors.$high-contrast-light};
  }
}

:root {
  background: var(--background);
  color: var(--high-contrast);
}
