@use '/app/colors';

.heading {
  letter-spacing: -0.025em;
}

.container {
  display: grid;
  place-content: center;
  height: 100%;
}

.links {
  display: flex;
  justify-content: center;
  gap: 5vw;
}

.links > a {
  display: block;
  width: 2em;
  height: 2em;
  background-size: contain;
  color: inherit;
  opacity: 0.8;
  transition: opacity 0.25s ease-in-out;

  &:hover {
    opacity: 1;
  }
}
