@use '/app/colors';

.heading {
  letter-spacing: -0.025em;
}

.container {
  display: grid;
  place-content: center;
  place-items: center;
  height: 100%;
  font-size: 1.5rem;
  grid-template-areas:
    'portrait'
    'rest';
}

@media screen and (min-width: 60rem) {
  .container {
    grid-template-areas: 'rest portrait';
    gap: 6rem;
    font-size: 2rem;
  }
}

.links {
  display: flex;
  justify-content: center;
  gap: 5vw;
}

.links > a {
  display: block;
  width: 2em;
  height: 2em;
  background-size: contain;
  color: inherit;
  opacity: 0.8;
  transition: opacity 0.25s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.subtext {
  font-size: 0.79em;
}

.portrait {
  grid-area: portrait;
  border: 3px solid var(--high-contrast);
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  animation: morph 8s ease-in-out infinite;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}
