@use '/app/colors';
@use '/app/icons';

.heading {
  letter-spacing: -0.025em;
}

.container {
  display: grid;
  place-content: center;
  height: 100%;
}

.links {
  display: flex;
  justify-content: center;
  gap: 5vw;
}

.links > a {
  display: block;
  width: 2em;
  height: 2em;
  background-size: contain;
  opacity: 0.8;
  transition: opacity 0.25s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.github-link {
  background-image: icons.github(colors.$high-contrast-dark);
}

.linkedin-link {
  background-image: icons.linkedin(colors.$high-contrast-dark);
}

.instagram-link {
  background-image: icons.instagram(colors.$high-contrast-dark);
}

@media (prefers-color-scheme: light) {
  .github-link {
    background-image: icons.github(colors.$high-contrast-light);
  }

  .linkedin-link {
    background-image: icons.linkedin(colors.$high-contrast-light);
  }

  .instagram-link {
    background-image: icons.instagram(colors.$high-contrast-light);
  }
}
